<tr>
  <td><%= scene.id %></td>
  <td><%= scene.name %></td>
  <td>
    <table>
      <thead>
        <tr>
          <th>answer</th>
          <th>next_id</th>
          <th>operation</th>
        </tr>
      </thead>
      <tbody>
        <% scene.relations.each do |relation| %>
          <tr>
            <td><%= relation.answer %></td>
            <td><%= relation.next_scene_id %></td>
            <td><%= link_to 'delete', games_blue_space_scene_relation_path(relation), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </td>
  <td>
    <%= link_to 'show', games_blue_space_conversations_url(scene_id: scene.id) %>
    <span>|</span>
    <%= link_to 'edit', edit_games_blue_space_scene_path(scene) %>
    <span>|</span>
    <%= link_to 'delete', scene, method: :delete %>
  </td>
</tr>
