<div class="row">
  <div id="conversation-edit" class="container">
    <%= form_for @conversation, method: :put do |f| %>
      <%= f.text_area :content, class: "materialize-textarea" %>

      <%= f.label :category, 'statement', value: 'statement' %>
      <%= f.radio_button :category, 'statement', class: 'radio' %>
      <%= f.label :category, 'question', value: 'question' %>
      <%= f.radio_button :category, 'question', class: 'radio' %>

      <% submit = 'update<i class="material-icons right">update</i>'.html_safe %>
      <%= button_tag submit, type: 'submit', class: 'btn waves-effect waves-light' %>
    <% end %>
  </div>
</div>
