<div class="row">
  <div id="conversation-edit" class="container">
    <%= form_for @conversation, method: :post do |f| %>
      <%= f.text_area :content, class: "materialize-textarea" %>

      <%= f.label :category, 'statement', value: 'statement' %>
      <%= f.radio_button :category, 'statement', class: 'radio' %>
      <%= f.label :category, 'question', value: 'question' %>
      <%= f.radio_button :category, 'question', class: 'radio' %>

      <%= f.hidden_field :scene_id, value: @scene.id %>

      <%= button_tag 'create', type: 'submit', class: 'btn waves-effect waves-light' %>
    <% end %>
  </div>
</div>
