<div class="parallax-container">
  <div class="parallax"><%= image_tag 'timg.jpg' %></div>
</div>

<div id="banner" class="banner">
  <%= image_tag 'me.jpg', class: 'circle avatar z-depth-3' %>
  <h1 class="center-align">Niltouch</h1>
  <p class="center-align teal-text">我的代码学习笔记</p>
</div>

<div class="divider"></div>

<div id="posts" class="section white posts-container">
  <%= render @posts.order(updated_at: :desc) %>
</div>

<div class="section posts-container">
  <%= render partial: 'shared/pagination', locals: { resources: @posts } %>  
</div>

<div class="parallax-container">
  <div class="parallax"><%= image_tag 'timg.jpg' %></div>
</div>
