<div class="container post-create-container">
  <%= form_for @post, url: posts_path, html: { class: 'col s12' } do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :desc_img, class: 'validate', placeholder: 'https://' %>
        <%= label_tag :desc_img, '头图链接' %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :title, class: 'validate', placeholder: 'Placeholder' %>
        <%= label_tag :title, '题目' %>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field col s12">
        <div class="btn">
          <span>File</span>
          <%= f.file_field(:content) %>
        </div>
        <div class="file-path-wrapper">
          <%= text_field_tag :content, nil, class: "file-path validate" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <% options_array = Tag.all.map { |el| [el.name, el.name] } %>
        <%= f.select "tags", options_array, {}, { multiple: true } %>
        <%= label_tag :tags, '标签' %>
      </div>
    </div>

    <% submit = 'Submit<i class="material-icons right">send</i>'.html_safe %>
    <%= button_tag submit, type: 'submit', class: 'btn waves-effect waves-light' %>
  <% end %>
</div>
